/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* body, #section-content, #section-header, #zone-menu-wrapper, #zone-branding-wrapper {
*/

#section-content, #section-header, #zone-branding-wrapper, #zone-menu-wrapper 
{
  /* background-image: url('./images/orange-background.png'); 
  background-repeat: repeat-y;*/
  
}

#region-branding {
  margin-left: 0;
}

#region-preface-third {
  display: block;
}

#zone-content {
  border-top-style: solid;
  border-top-width: 15px;
  border-top-color: #ffffff;
}
/* homepage "about-us" page stylings */
#block-user-login, #block-block-17, #block-menu-menu-quick-links,  #block-block-16, #block-node-recent {
  border-style: solid;
  border-width: thin;
  border-color: #cccccc; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
  background-color: #cccccc;
}

h2.block-title { 
  padding-left: 15px;
}

.block-inner .content {
  padding-right: 10px;
  padding-left: 10px;
}
 
/* force dropdowns to render over content in IE */
#zone-menu-wrapper {
  position: relative;
  z-index: 100;
}


.logo-img { 
  display: inline;
  padding-top: 10px; 
  padding-right: 40px;
}

.logo-img #img {
  border-left: thin solid #fa7f00;
  border-right: thin solid #fa7f00;
}

#superfish-3 { line-height: .5; }
#superfish-3 { display: inline; }
#superfish-3 a {
 text-decoration: none; 
 font-size: 80%; 
}

#zone-branding-wrapper {
	background-image: url(images/branding_bg.gif);
	background-size: 100% 100px;
	background-position: left 50%;
	background-repeat: no-repeat;
}
