/* This file will hold the main styles for your website. */

body { 
  background-color: #fff; 
}

#zone-branding {
  border-left: thin solid #cccccc;
  border-right: thin solid #cccccc;
  border-top: thin solid #cccccc;
  border: 0;
}
.branding-bg {
  background-color: #cdb257; 
}

#zone-menu {
  border: thin solid #cccccc; 
}

div.breadcrumb {
  display: none;
}

h1#page-title { font-size: 24px; }

/* page title */
.site-name a {
  color: #fa7f00;
  font-size: 28px;
}

h2.site-name a:visited {
  color: #fa7f00;
}


/* header */
.branding-data {
  text-align: center;
}

/* secondary menu 
.block-menu-menu-pul-links ul li { 
  display: inline; 
}
*/
/* search block */
#block-search-form { 
  padding-top: .2em;
  padding-bottom: .2em;
}
.block-menu-menu-pul-links ul, block-menu-menu-quick-links ul { 
  list-style-type: none;
}

#block-block-15 { padding-top: 2em; vertical-align: middle; }

/* main menu done "mega-style" */
#megamenu-main-menu {
  text-align: center; 

}

#megamenu-main-menu ul li.megamenu-parent {
  padding-right: .2em;
  padding-left: .2em;
}


#superfish-3 { display: none; }

.logo-img { display: none; }

#region-user-first {
  background-color: #000000;
  padding-bottom: -20px; 
}

#zone-preface-wrapper {
  border-top: thick solid #ffffff; /* #fa7f00; */
}
#section-content {
  background-color: #ffffff;
}

#zone-user-wrapper { 
  background-color: #000000;
}

#zone-menu-wrapper {
  background-color: #ffffff; /* #fa7f00; */
}


#zone-branding-wrapper { 
  background-color: #ffffff;
  background:url(images/branding_bg.gif);
  /*background-position: left 25%;*/
}

#zone-content-wrapper {
}

#zone-postscript-wrapper {
  background-color: #fa7f00;
}

#section-footer {
  background: #cccccc;
  padding-top: .2em;
  border-top: thin solid #000000;  
}

#zone-postscript-wrapper { 
  padding-top: .2em;
}
  
#zone-postscript li, #region-sidebar-first li { 
  list-style-type: none; 
  list-style-image: none; 
}


/* block styles */
#block-block-16 li { 
  list-style-type: none;
}
